.song-list-container {
  display: flex;
  justify-content: center;
}

.song-list {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}
