.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.song-info p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-votes {
  display: flex;
  align-items: center;
}

.song-votes button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 5px;
}

.song-votes span {
  font-size: 1.2rem;
  font-weight: bold;
}