body.light {
  background-color: #ffffff;
  color: #282c34;
}

body.dark {
  background-color: #868686;
  color: #000000;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid;
  background: transparent;
}

body.light button {
  border-color: #087a67;
  color: #6edbc9;
}

body.dark button {
  border-color: #ffffff;
  color: #ffffff;
}
