:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --navbar-background: #f8f8f8;
  --card-background: #f4f4f4;
  --button-background: #05a6ac;
  --button-text-color: #ffffff;
}

body.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --navbar-background: #444444;
  --card-background: #555555;
  --button-background: #b0f7eb;
  --button-text-color: #333333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
